@import 'mixin';

.interlocution {
  .dialog-project>div {
    min-width: 940px;
  }

  .mn-bd-hd {
    padding-bottom: 15px;

    border-bottom: 1px solid $borderBtmColor;

    .el-form {
      display: flex;
      flex-wrap: wrap;
      max-width: 1400px;
      padding-left: 10px;
    }

    .bottom .el-form-item__content {
      display: flex;

      .btn-group {
        margin-left: auto;
      }
    }

    .el-select,
    .el-input,
    .el-date-editor {
      width: 100%;
    }
  }

  .mn-bd-tools {
    display: flex;
    align-items: center;
    padding: 15px;
    flex-shrink: 0;

    .search-tip {
      margin-left: auto;
      color: $fontSecond;
      font-size: 14px;
    }
  }

  .questionLst {


    .el-icon-document {
      color: $fontSecond;
    }

    .el-form-item__content {
      width: 100%;
    }
  }

  .cut-off {
    padding: 0 5px;
    color: $placeholder;
  }

  .el-dialog .el-form {
    text-align: left;
  }

  .dialog-add .el-form-item__content {
    width: 80%;

    &>div:not(.el-col) {
      width: 100%;
    }
  }

  .table-item-ft {
    margin-top: 30px;

    .similarity-btn {
      color: $primary;
    }

    &>ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 12px;

      li {
        display: flex;
        align-items: center;
        margin: 0 8px;
        cursor: pointer;


        &:hover {
          color: $fontPrimary
        }

        &:before {
          content: '|';
          display: block;
          padding-right: 5px;
          color: $placeholder
        }

        &:after {
          content: '|';
          display: block;
          padding-left: 5px;
          color: $placeholder
        }
      }
    }
  }

  .simQuestionIcon {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: $primary;
    cursor: pointer;
  }

  .input-type {
    height: 100%;

    &>ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      margin-left: -1px;
      font-size: 12px;

      li {
        border: 1px solid #dcdfe6;
        margin: 5px 0;
        text-align: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
        color: #dcdfe6;

        &.panelActive {
          background: $primary;
          border-color: $primary;
          color: #fff;
        }
      }
    }
  }
}

.similarity-dialog {
  .el-form-item {
    justify-content: flex-start;

    .el-form-item__content {
      width: 100%;

      .el-input {
        width: 100%;
      }
    }
  }

  p {
    margin: 0;
    font-size: 16px;
  }
}