.w-icon { background-image: url(~@/assets/sass/sprite.png?v=1557036890000); }
.w-icon-answer {width: 27px; height: 29px; }
.w-icon-answer .w-icon, .w-icon-answer.w-icon { width: 54px; height: 58px; background-position: -308px -134px; } 
.w-icon-customer {width: 25.5px; height: 25.5px; }
.w-icon-customer .w-icon, .w-icon-customer.w-icon { width: 51px; height: 51px; background-position: 0px -290px; } 
.w-icon-delete {width: 6.5px; height: 6.5px; }
.w-icon-delete .w-icon, .w-icon-delete.w-icon { width: 13px; height: 13px; background-position: -308px -258px; } 
.w-icon-gift {width: 27px; height: 29px; }
.w-icon-gift .w-icon, .w-icon-gift.w-icon { width: 54px; height: 58px; background-position: -308px -72px; } 
.w-icon-iconFloatRobot1 {width: 75px; height: 28.5px; }
.w-icon-iconFloatRobot1 .w-icon, .w-icon-iconFloatRobot1.w-icon { width: 150px; height: 57px; background-position: 0px -74px; } 
.w-icon-iconFloatRobot2 {width: 75px; height: 35px; }
.w-icon-iconFloatRobot2 .w-icon, .w-icon-iconFloatRobot2.w-icon { width: 150px; height: 70px; background-position: 0px 0px; } 
.w-icon-iconFloatRobot3 {width: 75px; height: 27px; }
.w-icon-iconFloatRobot3 .w-icon, .w-icon-iconFloatRobot3.w-icon { width: 150px; height: 54px; background-position: -154px 0px; } 
.w-icon-iconRobot1 {width: 75px; height: 18.5px; }
.w-icon-iconRobot1 .w-icon, .w-icon-iconRobot1.w-icon { width: 150px; height: 37px; background-position: -78px -169px; } 
.w-icon-iconRobot2 {width: 75px; height: 19px; }
.w-icon-iconRobot2 .w-icon, .w-icon-iconRobot2.w-icon { width: 150px; height: 38px; background-position: -154px -58px; } 
.w-icon-logo {width: 107px; height: 15px; }
.w-icon-logo .w-icon, .w-icon-logo.w-icon { width: 214px; height: 30px; background-position: -78px -135px; } 
.w-icon-logo2 {width: 62px; height: 20px; }
.w-icon-logo2 .w-icon, .w-icon-logo2.w-icon { width: 124px; height: 40px; background-position: 0px -246px; } 
.w-icon-msg {width: 27px; height: 29px; }
.w-icon-msg .w-icon, .w-icon-msg.w-icon { width: 54px; height: 58px; background-position: -308px -196px; } 
.w-icon-people {width: 37px; height: 53.5px; }
.w-icon-people .w-icon, .w-icon-people.w-icon { width: 74px; height: 107px; background-position: 0px -135px; } 
.w-icon-qrCode {width: 34.5px; height: 34px; }
.w-icon-qrCode .w-icon, .w-icon-qrCode.w-icon { width: 69px; height: 68px; background-position: -308px 0px; } 
.w-icon-service {width: 25.5px; height: 25.5px; }
.w-icon-service .w-icon, .w-icon-service.w-icon { width: 51px; height: 51px; background-position: -55px -290px; } 